header.container{
  margin-top: 2rem;
}
.table{
  border: 3px solid black;
}
td.table-data{
  border-left: 3px solid black;
}
th.table-data{
  border: 3px solid black;
  background-color: rgb(102, 102, 102);
  color: white;
}
